@charset "UTF8";
html{
    scroll-behavior:smooth;
}

:root{
    --main-color:#06AEC9;
    --cta-color: #FF5F86;
    --sub-color: #EAF7EF;
    --accent-color: #F9EE44;
    --text-color:#2E2D29;
    --white:#FFFFFF;

    --radius: 20px;

    --shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

body{
    width: 100%;
    font-family:"Sawarabi Gothic", Arial, Helvetica, sans-serif;
    font-size:0.875rem;
    line-height:1.6;
    color:var(--text-color);
    background:var(--white);
}

img{
    max-width:100%;
    height:auto;
}
.wrapper{
    max-width: 330px;
    margin-inline: auto;
}
.mv-first{
    overflow-x: clip;
}
.button a{
    display: block;
    max-width: 330px;
    margin-inline: auto;
    background-color: var(--cta-color);
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    text-align: center;
    color: var(--white);
    font-size: 1.31rem;
    padding-block: 7px 15px;
    letter-spacing: 0.1em;
    transition: 0.3s;
}
.button_text{
    font-size: 0.8rem;
    padding-right: 20px;
}
.button_text_deco{
    font-size: 1.31rem;
}
.button_cta{
    font-size: 1.43rem;
}
.button a:hover{
    background-color: var(--white);
    color: var(--cta-color);
    transition: 0.3s;
}
.logo{
    width: 63px;
}

/* FV */
.background{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.fv-emblem,
.mainvis{
    position: relative;
}
.fv-emblem img{
    position: absolute;
    top: -50px;
    right: -10px;
}
.fv_copy{
    font-family:"Sawarabi Mincho";
    font-size: 1.75rem;
}
.fv_copy1,.fv_copy2{
    font-size: 2.25rem;
}
.fv_copy2{
    color: var(--main-color);
}
.fv_copy3{
    font-size: 2.87rem;
}
.fv_subcopy{
   margin-block: 20px;
}
.fv_product{
    max-width: 330px;
    position: absolute;
    top: -70px;
    left: -15%;
    z-index: 4;
}
.fv_dog{
    max-width: 330px;
    position: absolute;
    top: -10px;
    right: -18%;
    z-index: 1;
}

.fv_wave{
    width: 100%;
    position: absolute;
    bottom: 99%;
    z-index: 3;
}
.fv_button{
    padding-top: 35px;
}
.feature-bg{
    position: relative;
    background-color: var(--main-color);
    margin-top: 250px;
    z-index: 2;
    padding-bottom: 50px;
}

/* problem */
.problem{
    background-color: var(--main-color);
}
.problem_title{
    color: var(--white);
    font-size: 1.5rem;
    width: 260px;
    margin-inline: auto;
    padding-top: 30px;
    padding-left: 12px;
    position: relative;
}
.problem_title_accent{
    color: var(--accent-color);
    font-size: 2rem;
}
.problem_title_deco{
    display: block;
    text-align: right;
}

.problem_hukidashi,
.problem_hukidashi2,
.problem_hukidashi3,
.problem_hukidashi4,
.problem_dog{
    position: relative;
}
.problem_title::before{
    position: absolute;
    content: "";
    background-image: url(../img/problem_icon.svg);
    width: 55px;
    height: 47px;
    top: 0;
    left: -40px;
}
.problem_hukidashi2::before{
    position: absolute;
    content: "";
    background-image: url(../img/problem_icon2.svg);
    width: 65px;
    height: 86px;
    top: -30px;
    right: 20px;
}
.problem_hukidashi3::before{
    position: absolute;
    content: "";
    background-image: url(../img/problem_icon3.svg);
    width: 62px;
    height: 86px;
    top: -40px;
    left: 0px;
}
.problem_hukidashi4::before{
    position: absolute;
    content: "";
    background-image: url(../img/problem_icon4.svg);
    width: 46px;
    height: 63px;
    top: -40px;
    right: 30px;
}
.problem_hukidashi3::after{
    position: absolute;
    content: "";
    background-image: url(../img/problem_icon5.svg);
    width: 60px;
    height: 78px;
    top: 125px;
    left: 10px;
}

.problem_hukidashi li{
    position: absolute;
    width: 200px;
    height: 185px;
    font-size: 1rem;
    text-align: center;
}
.problem_hukidashi{
    left: -20px;
}
.problem_hukidashi2{
    top: 70px;
    right: -40px;
}
.problem_hukidashi3{
    top: 180px;
}
.problem_hukidashi4{
    top: 310px;
    right: -40px;
}
.problem_hukidashi p{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.problem_hukidashi1 p{
    background-image: url(../img/problem_hukidashi.svg); 
    padding-top: 65px;
}

.problem_hukidashi2 p{
    background-image: url(../img/problem_hukidashi2.svg);
    padding-top: 75px;
}
.problem_hukidashi3 p{
    background-image: url(../img/problem_hukidashi3.svg);
    padding-top: 75px;

}
.problem_hukidashi4 p{
    background-image: url(../img/problem_hukidashi4.svg);
    padding-top: 57px;

}

.problem_dog{
    padding-top: 360px;
}
.problem_bg{
    background-color: rgba(255, 255, 255, 0.5);
    padding-bottom: 65px;
}
.problem_hukidashi5_position{
    background-image: url(../img/problem_hukidashi5.svg);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    width: 165px;
    height: 120px;
    
}
.problem_hukidashi5{
    padding-top: 34px;
    padding-left: 23px;
    transform: rotate(-11deg);
}

.problem_text{
    text-align: center;
    font-size: 1.5rem;
    line-height: 2;
    text-decoration: underline wavy;
    text-decoration-color: var(--accent-color);
    text-underline-offset: 6px;
}

.problem_bottom{
    width: 100%;
    height: 150px;
    background-color: var(--white);
}
.problem_bottom_rectangle{
    height: 25px;
    background-color: var(--main-color);
}
.problem_bottom_triangle{
    height: 80px;
    background-color: var(--main-color);
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}


/* reason */
.reason_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reason_title{
    position: relative;
}
.reason_title::after{
    position: absolute;
    content: "";
    background-image: url(../img/reason_icon.svg);
    width: 70px;
    height: 80px;
    top: 0;
    right: -30px;

}
.reason_title_deco{
    display: inline-block;
    font-size: 1.25rem;
    transform: rotate(-11deg);
    margin-bottom: 10px;
}
.reason_title_text{
    font-size: 1.5rem;
    text-decoration: underline 6px;
    text-decoration-color: var(--accent-color);
    text-underline-offset: -3px;
}
.reason_title_accent{
    color: var(--main-color);
}

.reason_list{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 35px;
    padding-block: 60px;
    position: relative;
    z-index: 2;
}
.reason_list li{
    width: 330px;
    font-size: 1rem;
    padding-block: 13px;
    border: var(--accent-color) solid 2px;
    background-color: var(--white);
    border-radius: var(--radius);
}
.reason_flow{
    position: relative;
    z-index: 1;
}
.reason_arrow{
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
    width: 40px;
    height: 300px;
    background-color: var(--sub-color);
}
.reason_arrow::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -45px;
    transform: translateX(-50%);
    width: 185px;
    height: 50px;
    background: var(--sub-color);
    clip-path: polygon(
        50% 100%,0 0,100% 0);
}

.reason_text{
    position: relative;
    font-size: 1rem;
    margin-top: 30px;
    margin-bottom: 100px;
}
.reason_text::before,
.reason_text::after{
    position: absolute;
    content: "";
    width: 57px;
    height: 68px;
}
.reason_text::before{
    background-image: url(../img/reason_icon_r.svg);
    top: -30px;
    right: 0;
}
.reason_text::after{
    background-image: url(../img/reason_icon_l.svg);
    bottom: -70px;
    left: 0;
}
.reason_text_accent{
    font-size: 1.37rem;
    color: var(--main-color);
}


/* point */
.point_bg_svg{
    width: 100%;
}

.point_inner{
    position: relative;
    background-color: var(--sub-color);
}

.point_title{
    width: 240px;
    margin-inline: auto;
    position: relative;
    margin-bottom: 15px;
}
.point_title_hukidashi{
    display: inline-block;
    text-align: center;
    padding-top: 15px;
    font-size: 1rem;
    background-image: url(../img/point_title_hukidashi.svg);
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
    width: 161px;
    height: 64px;
    position: absolute;
    top: -10px;
    right: 0;
}
.point_title_3{
    display: inline-block;
    color: var(--main-color);
    font-size: 3.25rem;
    background-image: url(../img/point_title_deco.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 72px;
    height: 79px;
    text-align: right;
}
.point_title_text{
    font-size: 1.75rem;
}


.point_list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}
.point_card{
    width: auto;
    background-color: var(--white);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}
.point_card_inner{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.point_card_text{
    width: 40%;
    padding-left: 20px;
}
.point_card_img{
    width: 60%;
}
.point_list_title{
    text-align: center;
    font-size: 1.75rem;
    color: var(--main-color);
    text-decoration: underline 1px;
    text-decoration-color: var(--accent-color);
    text-underline-offset: 6px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.point_card_deco{
    display: inline-block;
    font-size: 2rem;
    color: var(--main-color);
    background-image: url(../img/point_list_deco.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 68px;
    height: 68px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}


/* voice */
.voice_title img{
    width: 100%;
}
.voice_list{
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-block: 80px;
}
.voice_card:nth-child(even){
    align-self: flex-end;
}

.voice_card{
    position: relative;
}
.voice_list_img{
    position: absolute;
    top: -60px;
    left: 10px;
} 
.voice_card:nth-child(even) .voice_list_img{
    left: 180px;
}


.voice_inner{
    max-width: 310px;
    width: 100%;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    padding: 15px;
}
.voice_list_dog{
    text-align: right;
    text-decoration: underline 1px;
    text-decoration-color: var(--accent-color);
    text-underline-offset: 6px; 
    padding-right: 20px;
}
.voice_card:nth-child(even) .voice_list_dog{
    text-align: left;
    padding-left: 20px;
}
.voice_list_title{
    font-size: 1.12rem;
    color: var(--main-color);
    padding-block: 17px;
}


/* qa */
.qa_bg{
    background-color: #F4FBFD;
}
.qa_bg_svg{
    width: 100%;
}
.qa_title_position{
    position: relative;
    top: -20px;
    left: 41px;
}
.qa_title_deco{
    position: absolute;
    transform: rotate(-11deg);
    display: inline-block;
    font-size: 0.75rem;
    color: var(--cta-color);
    background-image: url(../img/qa_title_deco.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 64px;
    height: 44px;
    text-align: center;
    padding-top: 16px;
    z-index: 2;
}
.qa_title_and{
    font-size: 0.5rem;
}
.qa_title{
    position: relative;
    top: -20px;
    left: 10px;
    display: inline-block;
    font-size: 1.12rem;
    color: var(--main-color);
    background-image: url(../img/qa_title.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 222px;
    height: 96px;
    text-align: center;
    padding-top: 38px;
    z-index: 1;
}
.qa_title::before{
    position: absolute;
    content: "";
    background-image: url(../img/qa_title_icon_l.svg);
    width: 24px;
    height: 24px;
    top: 39px;
    left: 25px;
}
.qa_title::after{
    position: absolute;
    content: "";
    background-image: url(../img/qa_title_icon_r.svg);
    width: 22px;
    height: 24px;
    top: 39px;
    right: 24px;
}

.qa_list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 20px;
}

.qa_item h3{
    font-size: 1.07rem;
    padding-left: 15px;
}
.qa_questionmark{
    color: var(--main-color);
}
.qa_answer{
    display: inline-block;
    background-image: url(../img/qa_a_bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height:140px;
    padding:27px 20px 25px;
}
.qa_answer_marker{
    text-decoration: underline 16px;
    text-decoration-color: var(--accent-color);
    text-underline-offset: -13px; 
}


/* cta */
.cta_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}
.cta_ribon{
    max-width: 180px;
}
.cta_title_text{
    position: relative;
    font-family: "Sawarabi Mincho";
    font-size: 1.5rem;
}
.cta_title_deco{
    font-size: 2.1rem;
    color: var(--main-color);
}
.cta_title_text::before{
    content:"";
    position:absolute;
    background-image:url(../img/cta_title_deco_l.svg);
    width:36px;
    height:68px;
    left: -40px;
}
.cta_title_text::after{
    content:"";
    position:absolute;
    background-image:url(../img/cta_title_deco_r.svg);
    width:36px;
    height:68px;
    right: -40px;
}

.cta_text{
    text-align: center;
    line-height: 2.4;
}
.cta_text_deco{
    color: var(--main-color);
    text-decoration: underline 2px;
    text-decoration-color: var(--accent-color);
    text-underline-offset: -1px; 
}
.cta_product_bg{
    position: relative;
    height: 350px;
}

.cta_product{
    position: absolute;
    z-index: 1;
    top: 230px;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 250px;

}

.cta_bg{
    position: absolute;
    width: 100%;
    top: 300px;
}

.cta_lastcta{
    background-color: var(--main-color);
    text-align: center;
    padding-block: 100px 60px;
}
.cta_lastcta_copy{
    font-size: 1.37rem;
    color: var(--white);
    margin-bottom: 20px;
}

.cta_lastcta_text{
    color: var(--white);
    font-size: 1rem;
    line-height: 2;
}
.lastcta_button{
    margin-top: 40px;
}


/* footer */
.footer{
    background-color: var(--main-color);
}
.copy{
    font-size: 0.62rem;
    text-align: center;
    color: var(--white);
    padding: 10px 0 5px 0;
}

/* animation */
.fv-animation{
    opacity: 0;
    transform: translateY(20px);
    animation: fvFadeIn 1.4s ease-out forwards;
}

@keyframes fvFadeIn{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes fadeUp{
    from{
        opacity: 0;
        transform: translateY(30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.scroll_fadeup{
    opacity: 0;
}

.scroll_fadeup.is_active{
    animation: fadeUp 1.4s ease-out forwards;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.scroll_fadein{
    opacity: 0;
}

.scroll_fadein.is_active{
    animation: fadeIn 1.4s ease-out forwards;
}


.pc_side{
    display: none;
}
@media (min-width:768px){

.mv-first{
    max-width:390px;
    margin-inline:auto;
    box-shadow:0 0 20px rgba(0,0,0,.1);
    background:var(--white);
    overflow: hidden;
}
body{
    background-color:var(--sub-color) ;
}
.pc_side{
    display: block;
    position: fixed;
}

.pc_side_left{
    left: 5%;
    top: 20%;
    transform: translateY(-50%);
    text-align: left;
    color: var(--white);
    font-size: 1.8rem;
    line-height: 1.8;
}

.pc_side_right{
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}   


}